

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki&family=Open+Sans:wght@300&family=Russo+One&display=swap');

html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #F8F5EF;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
    font-family:'Noto Serif Khojki', serif;
    margin: auto;
    background-color: var( --accent-color-light);
}

:root {
    --primary-color: #161b22;
    --secondary-color: #ffbd59;
    --accent-color: #150c1a;
    --accent-color2: #dbb299;
    --accent-color-light: #fff;
    --accent-color-links: #0000FF;
    --accent-grey-texts:rgba(128, 128, 128, 0.921); 
}

.index-main{
    position: relative;
    justify-content: center;
    background-image: url('/apperrals.jpg');
    background-position: 100000px;
    color:var(--accent-color-light);
}
  
  .navbar{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    height: 85px;
    background: var(--accent-color);
  }

  .sticky{
    padding: 15px 0;
    background: var(--accent-color);
    color:var(--accent-color-light);
}

 .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:var(--accent-color-light);
}

.nav-link{
    color:var(--accent-color-light);
     white-space: nowrap;
     display: block;
     font-family: 'Noto Serif Khojki', serif;
     font-size:20px;
     transition: color 0.3s ease; 
     margin-left: 25px;
}

.nav-btn{
    color: var(--accent-color-light);
    font-family: 'Noto Serif Khojki', serif;
    font-size:20px;
    padding: "12px 36px";
    margin: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid var(--accent-color-light);
    transition: all 0.3s ease;
}

#dropdown-basic{
    background: none;
    color: var(--primary-color);
    font-family: 'Noto Serif Khojki', serif;
    font-size:20px;
    padding: "12px 36px";
    margin: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: none;
    transition: all 0.3s ease; 
}


.nav-btn:hover{
    color: var(--primary-color);
    background: none;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  .menu-btn{
    color: black;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
  

/******** Carousel *********/
.carousel{
/* margin-bottom: 10px; */
position: relative;
  margin-top: -120px;
}
.carousel-caption{
    bottom: auto;
    top:50%; 
    width: 45%;
    padding: 10px; 
    color: var(--accent-color-light); 
    text-align: left ;
    align-items: center;
    justify-content: center;
    transform: translateX(50%);
}

.carousel-h2{
    font-size: 40px; 
    font-weight:600; 
    word-wrap: break-word;
    margin-left:-3px;
    font-family: 'Noto Serif Khojki', serif;
    transform: translateY(-50%); 
}

.carousel-h2-span{
    color:#b342f5;
    transition: all 0.3s ease;
}

.carousel-p{
    font-size: 27px;
}

.typing{
    color: var(--secondary-color);
    font-family: 'Russo One', sans-serif;
    font-size: 30px;

}
.carousel-btn {
    color: var(--accent-color-light);
    font-family: 'Noto Serif Khojki', serif;
    font-size:20px;
    padding: 12px 36px;
    margin: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid var(--accent-color-light);
    transition: all 0.3s ease;
    transform: translateX(50%);
}

.carousel-btn:hover{
    color: var(--secondary-color);
    background: none;
}

/* About us */
.aboutus {
    border-radius: 0px 50px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    align-items: first baseline;
}

.aboutus-main{
    height: 600px ;
}

.aboutus-row{
    margin:  50px 50px  50px 0px;
    background-color: var(--accent-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    width: 1000px;
    height: auto;
}

.textcard-aboutus{
    width: 500px ;
    height: auto;
    font-weight: 400;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding-bottom: 20px;
}

.textcard{
    width: 30rem ;
    height: 26rem;
    font-weight: 400;
    border: none;
    border-radius: 20px;
    margin: 10px;
}
.textcard-text{
    margin: 10px 0px;
    padding: 10px;
}

.textcard-title{
    font-size: 30px; 
    font: weight px; 
    word-wrap: break-word;
    margin-left:-3px;
    font-family: 'Noto Serif Khojki', serif;
}
.textcard-btn {
    color: var(--accent-color);
    font-family: 'Noto Serif Khojki', serif;
    padding: 8px 20px;
    margin-top: 30px;
    border-radius: 6px;
    border: 2px solid var(--accent-color);
    transition: all 0.3s ease;
} 

.textcard-btn:hover{
    color: var(--secondary-color);
    background: none;
    font-size:22px;
}

.imagecard{
    width: 23rem;
    height: 23rem;
    margin: 10px;
}
.imagecard-image-about{
    border-radius: 25px;
    border: none;
    background-color: none;
    box-shadow: 5px 10px 12px 0px grey;
    height: 480px;
    width: 500px;
}



/*** -- PRODU T GRID--**/
.productgrid {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 98%;  /*fix later*/
    margin: 20px ;
    padding: 20px;
    align-items: first baseline;  
}

.productcard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border: none;
    box-shadow: 7px 10px 10px 0px grey;
    border-radius: 20px;
}

.productcard-image{
    width: 80%;
    height: 100%;
    margin: 10px;
    align-items: center;
    border-radius: 20px;
}

.productcard-btn{
    display: inline-block;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
}

.productcard-btn:hover{
    color: var(--secondary-color);
    background: none;
}

/*  Contact Form */

.contactform-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;  
    padding: 20px;
    align-items: first baseline;
    background: var(--secondary-color);
}

.contactform-form{
    width: calc(50% - 30px);
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px ;
    padding: 20px;
    align-items: first baseline;
}

.contactform-field{
    display: flex;
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid var(--accent-color-light);
}

.contactform-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; 
    font: weight 4px; 
    word-wrap: break-word;
    margin: 15px;
    font-family: 'Russo One', sans-serif;
}

.contactform-message{
    height: 200px;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--accent-color-light);
}
.contactform-btn{
    display: inline-block;
    background: var(--accent-color-light);
    color: var(--primary-color);
    font-size: 20px;
    padding: 12px 20px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid var(--accent-color-light);
}

.footer{
    background: var(--primary-color);
    padding: 15px 23px;
    color: var(--accent-color-light);
    text-align: center;
}
.footer-link{
    color: var(--secondary-color);
    text-decoration: none;
}


/**    Sign In Page **/
.signin-forgetpass{
    text-decoration: underline;
    text-align: right;
    color: var(--accent-color-links);
}


/********  HUB PAGE ********/

.textcard-hub{
    justify-content: center;
    align-items: center;
    width: 100% ;
    height: 250px;
    border: none;
    margin: 10px;
}
.textcard-text{
    margin-bottom: 10px;
    padding: 10px;
}

.hubnav{
 padding: 15px !important; 
 align-items: right;
}

.searchbar{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.videocard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #b342f5;
    /*border-radius: 20px;*/
    

}

.videocard-image{
    width: 330px;
    height: 150px;
    margin-bottom: 5px;
    align-items: center;
    border-radius: 20px;
}


.videocard-caption{
    width: 80%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.card-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .videocard-caption1 {
    color:var(--primary-color);
    font-weight: bold;
    margin-bottom: 0%;
  }

  .videocard-caption2 {
    color:var(--accent-grey-texts);
    font-weight: 100;
    margin-bottom: 0%;
    width: auto;
  }

  .videocard-caption3{
    color:var(--accent-grey-texts);
    font-weight: 100;
    margin-bottom: 0%;

  }



  .linked {
    position: relative;
  }
  
  .card.linked a.link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
  }

  /************* Video Tutorials  ****************/

  .verticalvideogrid{
    width: 30%;
  }

.videoForm-sec1{
    width: 50%;
}

.blogForm-sec1{
    width: 70%;
}
.videoForm-sec2{
    background-color: white;
    width: 50%;
    margin: 10px;
    padding: 20px;

}

.videoForm-sec2-half{
    display: block;
    align-items: center;
    justify-content: center;
}

.blogformbtn{
    display: inline-block;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    transition: all 0.3s ease;
}

.videoForm{
    height: 100%;
    width: 100%;
    margin: 20px ;
    display: inline-flex;
    justify-content: center;
  }

.form{
    width: 95%;
    display: flex;
    height: 95%;
    margin: 10px;
    padding: 10px;
}

.videouploadcard{
    width: 95%;
    height: 25em;
    margin: 10px;

}

.uploadImageIcon{
    width: 5rem;
    padding: 10px;

    
}
.uploadImageIconvideo{
    width: 20em;
    margin: 10px 40px 40px 40px;
    padding: 10px;
    
}


input[type=file]{
    width: 0;
    height: 0;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    opacity: 40;
    
}

button[type=submit]{
    display: inline-block;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 12px 36px;
    font-weight: 400;
    border: 2px solid var(--secondary-color);
    transition: all 0.3s ease;

}



.videoplayer{
    display: block;
}

.homeplayer{
    height: 1000px; 
    display: flex;
}

.mainplayer{
    width: 50em;
    margin: 10px;
    height: 60%;
    background-color: #dbb299;
}

.mainplayer-2{
    width: 30%;
    margin:  10px 10px 10px 0px;
    height: 60%;
}
/****** GROUP BLOG PAGE ******/

.blogcard{
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    word-break: break-all;  
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 10px; 
}



.blogcard-caption1{
    width: auto;
    margin: 6px;;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif; 
    padding: 5px;
}

.blogcard-caption2{
    width: 90%;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif; 
    padding: 5px;
    word-break: break-all;
}

.blogcard-caption3{
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin: 1;  
    overflow: hidden;
    text-overflow: ellipsis;
}


.blogcard-captions{
    margin-left : 20px;
}

.blogcard-image{
    width: 20em;
    height: 15em;
    align-items: center;
}

.blogcard-image-image{
    width: 80%;
    
}
.bloggrid-main{
    display: block;
    justify-content: left;
}

.bloggrid{
    width: 70%;
    margin: 10px;  
    background-color: blue;
    border: rebeccapurple;
}

.bloggrid2{
    width: 25%;
    margin: 10px;
    justify-content: space-between; 
}

.blogpage{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161b22;
}
/****** RECOMMENDED BLOGS******/
.recom-blogcard{
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    overflow-wrap: break-word;  

   height: 100px auto;/*height: 10rem;*/
   padding: 5px;
}

.recom-blogcard-a:hover{
    color: var(--secondary-color);
    text-decoration: none; 
    background: none;
}

.recomblogcard-image{
    width: 5em;
    height: 5rem;
    align-items: center;
    justify-content: center;
}

.recom-blogcard-captions{
    margin: 10px;
}

.recom-blogcard-caption2{
    width: 4rem;
    display: flex;
    align-items: center;
    height: 50px;
    font-family: 'Open Sans', sans-serif; 
    inline-size: 210px;
    overflow-wrap: break-word;
}

.recom-blogcard-caption1{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif; 
   
}
/****** INDIVIDUAL BLOGS******/
.blogpage-main{
    width: 100%;
    height: 100;
    background-image: url('/osterbackgroud.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    align-items: center;

}


.blogpage-single{
    display: flex;
    width: 80%;
    margin: 40px;
    background-color: var(--accent-color-light);
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 7px 0px var(--primary-color);
    border-radius: 10px;
}

.blogcard-body-text{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
.blogcard-body-title{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    margin-top: 10px;
}

.blogcard-single{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;  
    overflow: hidden;
    text-overflow: ellipsis;
}

.blogcard-image-single{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogcard-image-singleblog{
    width: 30%;
    margin-top: 25px;
    height: auto;
    border-radius:5px;
}

.blogcard-single-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blogcard-single-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogcard-single-author{
margin-left: 10px;
}


/***** SCROLL UP BTN******/

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #fa7a4a;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}