/* styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki&family=Open+Sans:wght@300&family=Russo+One&display=swap');


body {
    font-family:'Noto Serif Khojki', serif;
    margin: auto;
    background-color: var( --accent-color-light);
}

:root {
    --primary-color: #161b22;
    --secondary-color: #ffbd59;
    --accent-color: #4c7031;
    --accent-color2: #dbb299;
    --accent-color-light: #fff;
    --accent-color-links: #0000FF;
    --accent-grey-texts:rgba(128, 128, 128, 0.921); 
  }
  
  .navbar{
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
  }

 .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-link{
    color:var(--primary-color);
     white-space: nowrap;
     display: block;
     font-family: 'Noto Serif Khojki', serif;
     font-size:20px;
     transition: color 0.3s ease; 
     margin-left: 25px;
}

.nav-btn{
    background: var(--accent-color-light);
    color: var(--primary-color);
    font-family: 'Noto Serif Khojki', serif;
    font-size:20px;
    padding: "12px 36px";
    margin: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid var(--accent-color-light);
    transition: all 0.3s ease;
}

#dropdown-basic{
    background: var(--accent-color-light);
    color: var(--primary-color);
    font-family: 'Noto Serif Khojki', serif;
    font-size:20px;
    padding: "12px 36px";
    margin: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid var(--accent-color-light);
    transition: all 0.3s ease; 
}


.nav-btn:hover{
    color: var(--primary-color);
    background: none;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  

/* Carousel */
.carousel{
margin-bottom: 20px;
}
.carousel-caption{
    bottom: auto;
    top:50%; 
    width: 45%;
    transform: translateY(-50%); 
    padding: 10px; 
    color: var(--accent-color-light); 
    text-align: left ;
}
.carousel-h2{
    font-size: 60px; 
    font-weight:600; 
    word-wrap: break-word;
    margin-left:-3px;
    font-family: 'Russo One', sans-serif;
}

.carousel-h2-span{
    color: var(--secondary-color);
    transition: all 0.3s ease;
}

.carousel-p{
    font-size: 27px;
}

.typing{
    color: var(--secondary-color);
    font-family: 'Russo One', sans-serif;
    font-size: 30px;

}
.carousel-btn {
    display: inline-block;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    transition: all 0.3s ease;
}

.carousel-btn:hover{
    color: var(--secondary-color);
    background: none;
}

/* About us */
.textcard{
    width: 30rem ;
    height: 26rem;
    font-weight: 400;
    border: none;
    border-radius: 20px;
    margin: 10px;
}
.textcard-title{
    font-size: 30px; 
    font: weight 4px; 
    word-wrap: break-word;
    margin-left:-3px;
    font-family: 'Russo One', sans-serif;
}
.textcard-btn {
    display: inline-block;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    transition: all 0.3s ease;
} 

.textcard-btn:hover{
    color: var(--secondary-color);
    background: none;
}

.imagecard{
    width: 25rem;
    height: 25rem;
    margin: 10px;
}
.imagecard-image{
    border-radius: 25px;

    box-shadow: 5px 10px 12px 0px grey;
}

.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 20px ;
    align-items: first baseline;
    
}

/*** ---------**/

.productgrid {
    background-image: url("/public/carouselbanner1.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 98%;  /*fix later*/
    margin: 20px ;
    padding: 20px;
    align-items: first baseline;
    
}

.productcard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border: none;
    box-shadow: 7px 10px 10px 0px grey;
    border-radius: 20px;
}

.productcard-image{
    width: 80%;
    height: 100%;
    margin: 10px;
    align-items: center;
    border-radius: 20px;
}

.productcard-btn{
    display: inline-block;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
}

.productcard-btn:hover{
    color: var(--secondary-color);
    background: none;
}

/*  Contact Form */

.contactform-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;  
    padding: 20px;
    align-items: first baseline;
    background: var(--secondary-color);
}

.contactform-form{
    width: calc(50% - 30px);
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px ;
    padding: 20px;
    align-items: first baseline;
}

.contactform-field{
    display: flex;
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid var(--accent-color-light);
}

.contactform-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; 
    font: weight 4px; 
    word-wrap: break-word;
    margin: 15px;
    font-family: 'Russo One', sans-serif;
}

.contactform-message{
    height: 200px;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--accent-color-light);
}
.contactform-btn{
    display: inline-block;
    background: var(--accent-color-light);
    color: var(--primary-color);
    font-size: 20px;
    padding: 12px 20px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid var(--accent-color-light);
}

.footer{
    background: var(--primary-color);
    padding: 15px 23px;
    color: var(--accent-color-light);
    text-align: center;
}
.footer-link{
    color: var(--secondary-color);
    text-decoration: none;
}


/**    Sign In Page **/
.signin-forgetpass{
    text-decoration: underline;
    text-align: right;
    color: var(--accent-color-links);
}


/********  HUB PAGE ********/

.textcard-hub{
    justify-content: center;
    align-items: center;
    width: 100% ;
    height: 250px;
    border: none;
    margin: 10px;
}
.textcard-text{
    margin-bottom: 10px;
    padding: 10px;
}

.hubnav{
 padding: 15px !important; 
 align-items: right;
}

.searchbar{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.videocard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis
    /*border-radius: 20px;*/
    

}

.videocard-image{
    width: 330px;
    height: 150px;
    margin-bottom: 5px;
    align-items: center;
    border-radius: 20px;
}


.videocard-caption{
    width: 80%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.card-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--accent-color);
    margin: 10px;
  }

  .videocard-caption1 {
    color:var(--primary-color);
    font-weight: bold;
    margin-bottom: 0%;
  }

  .videocard-caption2 {
    color:var(--accent-grey-texts);
    font-weight: 100;
    margin-bottom: 0%;
    width: auto;
  }

  .videocard-caption3{
    color:var(--accent-grey-texts);
    font-weight: 100;
    margin-bottom: 0%;

  }



  .linked {
    position: relative;
  }
  
  .card.linked a.link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
  }

  /************* Video Tutorials  ****************/

  .verticalvideogrid{
    width: 30%;
  }

.videoForm-sec1{
    width: 50%;
}

.blogForm-sec1{
    width: 70%;
}
.videoForm-sec2{
    background-color: white;
    width: 50%;
    margin: 10px;
    padding: 20px;

}

.videoForm-sec2-half{
    display: block;
    align-items: center;
    justify-content: center;
}

.blogformbtn{
    display: inline-block;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    transition: all 0.3s ease;
}

.videoForm{
    height: 100%;
    width: 100%;
    margin: 20px ;
    display: inline-flex;
    justify-content: center;
  }

.form{
    width: 95%;
    display: flex;
    height: 95%;
    margin: 10px;
    padding: 10px;
}

.videouploadcard{
    width: 95%;
    height: 25em;
    margin: 10px;

}

.uploadImageIcon{
    width: 5rem;
    padding: 10px;

    
}
.uploadImageIconvideo{
    width: 20em;
    margin: 10px 40px 40px 40px;
    padding: 10px;
    
}


input[type=file]{
    width: 0;
    height: 0;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    opacity: 40;
    
}

button[type=submit]{
    display: inline-block;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 12px 36px;
    font-weight: 400;
    border: 2px solid var(--secondary-color);
    transition: all 0.3s ease;

}


/*  Bloog PAGE*/

.wblogcard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background-color: #0000FF;
}
.blogcard{
    white-space: nowrap;
    width: 80%;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin: 1;  
  overflow: hidden;
  text-overflow: ellipsis;
}
.blogcard-captions{
    margin-left : 20px;
}

.blogcard-image{
    width: 20em;
    height: 15em;
    align-items: center;
}

.blogcard-image-image{
    width: 80%;
    
}
.bloggrid-main{
    width: 100%;
    justify-content: space-between;
    align-items: center;  
}

.bloggrid{
    width: 90%;
    margin: 10px;
    justify-content: space-between;   
}

.blogpage{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161b22;
}

.videoplayer{
    display: block;
}

.homeplayer{
    height: 1000px; 
    display: flex;
}

.mainplayer{
    width: 50em;
    margin: 10px;
    height: 60%;
    background-color: #dbb299;
}

.mainplayer-2{
    width: 30%;
    margin:  10px 10px 10px 0px;
    height: 60%;
    background-color: #0000FF;
}


.blog-recom{
    width: 20%;
    background-color: red;
    height: 20%;
}

.blogpage-single{
    background-color: #0000FF;
    align-items: center;
}

.blogcard-single{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
     
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;

  justify-content: center;
}